/*.btn-danger:hover {
  background-color: #e1a3a9;
  border-color: #dbaeb2;
}
.btn-danger {
  background-color: #d5535f;
  border-color: #d5535f;
}*/
.color-btn{
  background-color: #f7dfe2;
  border-color: #f7dfe2;
}
.color-btn:hover {
  background-color: #f7dfe2;
  border-color: #f7dfe2;
}
.color-btn.focus, .color-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(247, 223, 226, 0.5);
}
