<div class="container">
  <h5 style="color: #428bca!important;">Отправка объектов в рекламу</h5>
  <h6>
    Адрес:
    <ng-container *ngIf="data.sale.location.street.title.length >0 ">
      {{data.sale.location.street.title}},
    </ng-container>
    {{data.sale.location.house}}
    <ng-container *ngIf="data.sale.location.housing !== '0' && data.sale.location.housing !== ''">
      / {{data.sale.location.housing}}
    </ng-container>
  </h6>
  <div style="margin-bottom: 20px">
    Чат-бот в Telegram для получения ссылок на рекламу: <a href="http://t.me/mlsbelan_bot" target="_blank">http://t.me/mlsbelan_bot</a>
  </div>

  <table class="table table-bordered">
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.pron" class="form-check-input" type="checkbox">
            <label class="form-check-label">Pro-n.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.metr" class="form-check-input" type="checkbox">
            <label class="form-check-label">Metr.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.gohome" class="form-check-input" type="checkbox">
            <label class="form-check-label">Gohome.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.reinport" class="form-check-input" type="checkbox">
            <label class="form-check-label">Reinport.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.domovita" class="form-check-input" type="checkbox">
            <label class="form-check-label">Domovita.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.kufar" class="form-check-input" type="checkbox">
            <label class="form-check-label">Kufar.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.onliner" class="form-check-input" type="checkbox">
            <label class="form-check-label">Onliner.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.realt" class="form-check-input" type="checkbox">
            <label class="form-check-label">Realt.by</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
    <tr>
      <td>
        <div class="checkbox">
          <div class="form-check">
            <input [(ngModel)]="data.sale.reclame.mls" class="form-check-input" type="checkbox">
            <label class="form-check-label">MLS</label>
          </div>
        </div>
      </td>
      <td style="min-width: 200px"></td>
    </tr>
  </table>

  <mat-dialog-actions>
    <button style="background: #cee0ec" mat-button (click)="onNoClick()">Отмена</button>
    <button style="background: #cee0ec" mat-button [mat-dialog-close]="data.sale" cdkFocusInitial>Сохранить</button>
  </mat-dialog-actions>

</div>
