<app-sales-list-search (changed)="getSalesSearch($event)"></app-sales-list-search>

<div class="table-responsive" style="margin-bottom: 20px">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><span class="nobr">Нас. пункт</span></th>
      <th>Район</th>
      <th>Мкрн</th>
      <th>Адрес</th>
      <th>Комнат</th>
      <th>Площадь</th>
      <th>Этаж</th>
      <th><span class="nobr"><i class="fas fa-sort icon-color"></i>Цена,$</span></th>
      <th>$/m</th>
      <th>Агентство</th>
      <th><span class="nobr"><i class="fas fa-sort icon-color"></i>Дата доб.</span></th>
      <th><span class="nobr"><i class="fas fa-sort icon-color"></i>Дата обн.</span></th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <ng-container
      *ngFor="let sale of sales | paginate: { itemsPerPage: limit, currentPage: page, totalItems: countSales }; let i = index">
      <tr>
        <td class="text-center">
          <a routerLink="sale/{{sale.id}}" target="_self">
            <i class="fas fa-pencil-alt icon-color"></i>
          </a>
        </td>
        <td class="text-center">
          <span (click)="hideme[i] = !hideme[i]">
            <mat-icon class="icon-color size-18 icon-cursor" [hidden]="hideme[i]">keyboard_arrow_down</mat-icon>
            <mat-icon class="icon-color size-18 icon-cursor" [hidden]="!hideme[i]">keyboard_arrow_up</mat-icon>
          </span>
          <!--  <span class="fas fa-info-circle" style="background:white; cursor: pointer;color:#127bc5;" (click)="hideme[i] = !hideme[i]"></span>-->
        </td>
        <td class="text-center">
          <label class="form-check-label check">
            <input class="checkbox" type="checkbox" id="{{sale.id}}" (change)="hideme2[i] = !hideme2[i]">
            <i class="fas fa-check icon-color" [hidden]="!hideme2[i]"></i>
          </label>
        </td>
        <!-- <td>
           <app-sale-list-adress [location]="sale.location"></app-sale-list-adress>
         </td>-->
        <td>{{sale.location.city.title}}</td>
        <td>{{sale.location.district.title}}</td>
        <td>{{sale.location.microdistrict.title}}</td>
        <td>
          <app-sale-list-adress [location]="sale.location"></app-sale-list-adress>
        </td>
        <td>{{sale.room}}/{{sale.room_separate}}</td>
        <td>{{sale.area}}/{{sale.area_leave}}/{{sale.area_kitchen}}</td>
        <td>{{sale.storey}}/{{sale.storeys}}</td>
        <td>{{sale.price}}</td>
        <td>{{sale.price_sqr}}</td>
        <td>{{sale.user.company.title}}</td>
        <!--<td>{{sale.user.user_information.surname}} {{sale.user.user_information.name}}</td>-->
        <td>
          {{sale.created_at | date: 'dd.MM.yyyy'}}
        </td>
        <td>
          {{sale.updated_at | date: 'dd.MM.yyyy'}}
        </td>
        <td>
          <i class="fas fa-chevron-circle-right icon-color icon-cursor" style="font-size: 20px;"
             (click)="hideme3[i] = !hideme3[i]"></i>
          <div class="action-window" [hidden]="!hideme3[i]">
            <div class="action">ОТПРАВИТЬ КЛИЕНТУ</div>
            <div class="action">ПОДБОР ПОКУПАТЕЛЕЙ</div>
            <div class="action">ОТПРАВИТЬ В РЕКЛАМУ</div>
            <div class="action">КАЛЬКУЛЯТОР</div>
          </div>
        </td>
      </tr>
      <tr [hidden]="!hideme[i]">
        <td colspan="16">
          <div class="row no-gutters text-left">
            <div class="col-lg-6 col-md-12">
              <app-sale-list-photo [photo]="sale.photo_reclame"></app-sale-list-photo>
              <!--<ng-container
                *ngFor="let photo_reclame of sale.photo_reclame">
                <div>
                  <img src="{{photo_reclame.path}}">
                </div>
              </ng-container>-->
            </div>
            <div class="col-lg-5 col-md-12" style="margin: 10px 0 0 10px">
              {{sale.cont_phone1}}, {{sale.cont_phone2}}<br>
              <span>{{sale.text}}</span>
              <br>
              <a class="btn btn-sm btn-primary" routerLink="/sales/sale/{{sale.id}}">Подробнее</a>
              <a class="btn">
                <mat-icon class="size-16 icon-color">place Смотреть на карте</mat-icon>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>


<div class="container bg-light" style="margin: 0; max-width: calc(100% - 150px); padding-top: 15px;">
  <div class="row">
    <!--Пагинация -->
    <div class="col-12 text-center">
      <pagination-controls (pageChange)="getSalesByPage($event)" maxSize="7" previousLabel="" nextLabel=""
                           directionLinks="true" autohide="true"></pagination-controls>
    </div>
    <!-- <div class="col-3 text-right">
       Всего объектов в МЛС: {{countSales}}
     </div>-->
  </div>
</div>
