.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.newRow {
  background: #fdfdff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.mark {
  margin-top: -70px;
  padding-top: 80px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  background: none;
}

h3 {
  color: #1a5a87;
}
.category {
  font-weight: bold;
}
.category_main {
  color: #22a6dc;
  font-size: 20px;
  text-decoration: underline;
}
.myButton {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
