<div class="row no-gutters">

  <div style="width: 160px">
    <a href="" style="outline:none;">
      <img style="margin: 4px 10px;" class="img img-fluid" src="assets/images/belan-logo_mini2.png"/>
    </a>
  </div>

<!--  <div class="col-lg-2 col-md-2 col-sm-3 col-7">
    <a href="" style="outline:none;">
      <img style="margin: 4px 10px;" class="img img-fluid" src="assets/images/belan-logo_mini2.png"/>
    </a>
  </div>-->
  <div class="display">
    <div class="row no-gutters">
      <div class="col-lg-9 col-md-8 d-none d-md-block">
        <!--Меняющийся навбар -->
        <nav class="navbar navbar-expand-lg">

          <ul class="navbar-nav">
            <!-- Меню для SALES-->
            <ng-container *ngIf="path==='sales'">
              <li class="nav-item">
                <a class="nav-link" routerLink="/sales/sale">Добавить</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/sales/archive">Архив</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Удаленные</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Модерация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Карта</a>
              </li>
            </ng-container>
            <!-- Конец меню для SALES-->

            <!-- Меню для CLIENTS-->
            <ng-container *ngIf="path==='clients'">
              <li class="nav-item">
                <a class="nav-link" routerLink="/clients/client">Добавить</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/clients/archive">Архив</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Звонки</a>
              </li>
            </ng-container>
            <!-- Конец меню для CLIENTS-->

            <!-- Меню для HOUSES-->
            <ng-container *ngIf="path==='houses'">
              <li class="nav-item">
                <a class="nav-link" routerLink="/houses/house">Добавить</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/houses/archive">Архив</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Звонки</a>
              </li>
            </ng-container>
            <!-- Конец меню для HOUSES-->

            <!-- Меню для CLIENTS-HOUSE-->
            <ng-container *ngIf="path==='clients_house'">
              <li class="nav-item">
                <a class="nav-link" routerLink="/clients_house/client">Добавить</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/clients_house/archive">Архив</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#">Звонки</a>
              </li>
            </ng-container>
            <!-- Конец меню для CLIENTS-HOUSE-->

            <!-- Меню для USERS-->
            <ng-container *ngIf="path==='users'">
              <li class="nav-item">
                <a class="nav-link" routerLink="/users/user">Добавить</a>
              </li>
            </ng-container>
            <!-- Конец меню для USERS-->

            <!-- Меню для ROLES-->
            <ng-container *ngIf="path==='roles'">
              <li class="nav-item">
                <a class="nav-link" routerLink="/roles/role">Добавить</a>
              </li>
            </ng-container>
            <!-- Конец меню для ROLES-->

          </ul>
        </nav>
      </div>

      <!-- Информация о пользователе -->
      <div class="col-lg-3 col-md-4 col-sm-12 col-12 user">
        <app-menu-user-info></app-menu-user-info>
      </div>
    </div>
  </div>


</div>


