.display {
  width: calc(100% - 160px);
}
.dropdown:hover > .dropdown-menu {
  display: block;
  margin: 0;
}
.navbar {
  padding: 0.1rem 1rem;
  height: 100%;
}
.navbar-nav {
  padding: 0.3rem 0;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-nav .nav-item {
  padding-left: 1.5rem;
}
.navbar-nav .nav-item a {
  color: #fef6f6;
  font-weight: 600;
  font-size: 18px;
}
.navbar-nav .nav-item a:hover {
  background: #5a8caf;
  color: #f1eae9;
}
.user {
  padding: 0.375rem 5px 0;
}
@media (max-width: 880px) {
  .navbar-nav .nav-item a {
    font-size: 14px;
  }

}
