.message {
  width: 350px;
  height: 50px;
  min-height: 100px;
  background-color: #eff7fd;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 150px);
  top: 0;
  border-radius: 5px;
  z-index: 2001;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.messageText {
  width: 100%;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.bg-success {
  box-shadow: 0 0 7px #676767;
  background-color: #eff7fd !important;
}
.bg-danger {
  box-shadow: 0 0 7px #676767;
  background-color: #eff7fd !important;
}
.hide {
  display: none;
}
.show {
  display: inline;
}
